<div class="mb-6">
    <label class="block text-gray-300 mb-1">Lugar de Emisión:</label>
    
     <select name="lugar_emision" id="lugar_emision" class="w-full px-4 py-3 p-2 text-lg bg-gray-600 border border-gray-500 rounded-md text-white focus:ring-2 focus:ring-blue-400 hover:border-gray-400 transition-colors cursor-pointer">
                            <option value="">Selecciona un lugar de emisión</option>
                            <option value="AGUASCALIENTES, AGUASCALIENTES">AGUASCALIENTES, AGUASCALIENTES</option>
                            <option value="BAJA CALIFORNIA SUR, LOS CABOS">BAJA CALIFORNIA SUR, LOS CABOS</option>
                            <option value="BAJA CALIFORNIA SUR, LA PAZ">BAJA CALIFORNIA SUR, LA PAZ</option>
                            <option value="BAJA CALIFORNIA, ENSENADA">BAJA CALIFORNIA, ENSENADA</option>
                            <option value="BAJA CALIFORNIA, MEXICALI">BAJA CALIFORNIA, MEXICALI</option>
                            <option value="BAJA CALIFORNIA, TECATE">BAJA CALIFORNIA, TECATE</option>
                            <option value="BAJA CALIFORNIA, TIJUANA">BAJA CALIFORNIA, TIJUANA</option>
                            <option value="CAMPECHE, CAMPECHE">CAMPECHE, CAMPECHE</option>
                            <option value="CAMPECHE, CIUDAD DEL CARMEN">CAMPECHE, CIUDAD DEL CARMEN</option>
                            <option value="CHIAPAS, TAPACHULA">CHIAPAS, TAPACHULA</option>
                            <option value="CHIAPAS, TUXTLA GUTIERREZ">CHIAPAS, TUXTLA GUTIERREZ</option>
                            <option value="CHIAPAS, SAN CRISTOBAL DE LAS CASAS">CHIAPAS, SAN CRISTOBAL DE LAS CASAS</option>
                            <option value="CHIAPAS, COMITAN DE DOMINGUEZ">CHIAPAS, COMITAN DE DOMINGUEZ</option>
                            <option value="CHIHUAHUA, CHIHUAHUA">CHIHUAHUA, CHIHUAHUA</option>
                            <option value="CHIHUAHUA, JUAREZ">CHIHUAHUA, JUAREZ</option>
                            <option value="CHIHUAHUA, DELÍCIAS">CHIHUAHUA, DELÍCIAS</option>
                            <option value="COLIMA, MANZANILLO">COLIMA, MANZANILLO</option>
                            <option value="CIUDAD DE MEXICO, CUAUHTEMOC">CIUDAD DE MEXICO, CUAUHTEMOC</option>
                            <option value="CIUDAD DE MEXICO, XOCHIMILCO">CIUDAD DE MEXICO, XOCHIMILCO</option>
                            <option value="CIUDAD DE MEXICO, MIGUEL HIDALGO">CIUDAD DE MEXICO, MIGUEL HIDALGO</option>
                            <option value="ESTADO DE MEXICO, ECATEPEC DE MORELOS">ESTADO DE MEXICO, ECATEPEC DE MORELOS</option>
                            <option value="ESTADO DE MEXICO, NAUCALPAN DE JUAREZ">ESTADO DE MEXICO, NAUCALPAN DE JUAREZ</option>
                            <option value="ESTADO DE MEXICO, TEXCOCO">ESTADO DE MEXICO, TEXCOCO</option>
                            <option value="ESTADO DE MEXICO, VALLE DE BRAVO">ESTADO DE MEXICO, VALLE DE BRAVO</option>
                            <option value="GUANAJUATO, CELAYA">GUANAJUATO, CELAYA</option>
                            <option value="GUANAJUATO, GUANAJUATO">GUANAJUATO, GUANAJUATO</option>
                            <option value="GUANAJUATO, IRAPUATO">GUANAJUATO, IRAPUATO</option>
                            <option value="GUANAJUATO, LEON">GUANAJUATO, LEON</option>
                            <option value="GUANAJUATO, SALAMANCA">GUANAJUATO, SALAMANCA</option>
                            <option value="GUANAJUATO, SAN MIGUEL DE ALLENDE">GUANAJUATO, SAN MIGUEL DE ALLENDE</option>
                            <option value="GUERRERO, ACAPULCO DE JUAREZ">GUERRERO, ACAPULCO DE JUAREZ</option>
                            <option value="GUERRERO, CHILPANCINGO DE LOS BRAVO">GUERRERO, CHILPANCINGO DE LOS BRAVO</option>
                            <option value="GUERRERO, IGUALA DE LA INDEPENDENCIA">GUERRERO, IGUALA DE LA INDEPENDENCIA</option>
                            <option value="GUERRERO, ZIHUATANEJO DE AZUETA">GUERRERO, ZIHUATANEJO DE AZUETA</option>
                            <option value="JALISCO, GUADALAJARA">JALISCO, GUADALAJARA</option>
                            <option value="JALISCO, LAGOS DE MORENO">JALISCO, LAGOS DE MORENO</option>
                            <option value="JALISCO, ZAPOPAN">JALISCO, ZAPOPAN</option>
                            <option value="NUEVO LEON, MONTERREY">NUEVO LEON, MONTERREY</option>
                            <option value="NUEVO LEON, GALEANA">NUEVO LEON, GALEANA</option>
                            <option value="OAXACA, OAXACA DE JUAREZ">OAXACA, OAXACA DE JUAREZ</option>
                            <option value="OAXACA, PUERTO ESCONDIDO">OAXACA, PUERTO ESCONDIDO</option>
                            <option value="OAXACA, SALINA CRUZ">OAXACA, SALINA CRUZ</option>
                            <option value="OAXACA, JUCHITAN DE ZARAGOZA">OAXACA, JUCHITAN DE ZARAGOZA</option>
                            <option value="OAXACA, SAN JUAN BAUTISTA TUXTEPEC">OAXACA, SAN JUAN BAUTISTA TUXTEPEC</option>
                            <option value="PUEBLA, PUEBLA">PUEBLA, PUEBLA</option>
                            <option value="QUERETARO, JUAN DEL RIO">QUERETARO, JUAN DEL RIO</option>
                            <option value="QUERETARO, QUERETARO">QUERETARO, QUERETARO</option>
                            <option value="QUINTANA ROO, CANCUN">QUINTANA ROO, CANCUN</option>
                            <option value="QUINTANA ROO, COZUMEL">QUINTANA ROO, COZUMEL</option>
                            <option value="QUINTANA ROO, PLAYA DEL CARMEN">QUINTANA ROO, PLAYA DEL CARMEN</option>
                            <option value="SINALOA, CULIACAN">SINALOA, CULIACAN</option>
                            <option value="SINALOA, GUASAVE">SINALOA, GUASAVE</option>
                            <option value="SINALOA, MAZATLAN">SINALOA, MAZATLAN</option>
                            <option value="SINALOA, NAVOLATO">SINALOA, NAVOLATO</option>
                            <option value="SINALOA, SALVADOR ALVARADO">SINALOA, SALVADOR ALVARADO</option>
                            <option value="SINALOA, LOS MOCHIS">SINALOA, LOS MOCHIS</option>
                            <option value="SONORA, HERMOSILLO">SONORA, HERMOSILLO</option>
                            <option value="SONORA, GUAYMAS">SONORA, GUAYMAS</option>
                            <option value="SONORA, NOGALES">SONORA, NOGALES</option>
                            <option value="SONORA, NAVOJOA">SONORA, NAVOJOA</option>
                            <option value="TABASCO, CARDENAS">TABASCO, CARDENAS</option>
                            <option value="TABASCO, CENTRO">TABASCO, CENTRO</option>
                            <option value="TABASCO, VILLAHERMOSA">TABASCO, VILLAHERMOSA</option>
                            <option value="TLAXCALA, APIZACO">TLAXCALA, APIZACO</option>
                            <option value="TLAXCALA, TLAXCALA">TLAXCALA, TLAXCALA</option>
                            <option value="TAMAULIPAS, MATAMOROS">TAMAULIPAS, MATAMOROS</option>
                            <option value="TAMAULIPAS, MIGUEL ALEMAN">TAMAULIPAS, MIGUEL ALEMAN</option>
                            <option value="TAMAULIPAS, CIUDAD VICTORIA">TAMAULIPAS, CIUDAD VICTORIA</option>
                            <option value="TAMAULIPAS, CIUDAD MANTE">TAMAULIPAS, CIUDAD MANTE</option>
                            <option value="TAMAULIPAS, NUEVO LAREDO">TAMAULIPAS, NUEVO LAREDO</option>
                            <option value="TAMAULIPAS, REYNOSA">TAMAULIPAS, REYNOSA</option>
                            <option value="TAMAULIPAS, SAN FERNANDO">TAMAULIPAS, SAN FERNANDO</option>
                            <option value="TAMAULIPAS, TAMPICO">TAMAULIPAS, TAMPICO</option>
                            <option value="SAN LUIS POTOSI, SAN LUIS POTOSI">SAN LUIS POTOSI, SAN LUIS POTOSI</option>
                            <option value="SAN LUIS POTOSI, CIUDAD VALLES">SAN LUIS POTOSI, CIUDAD VALLES</option>
                            <option value="SAN LUIS POTOSI, MATEHUALA">SAN LUIS POTOSI, MATEHUALA</option>
                            <option value="VERACRUZ, BOCA DEL RIO">VERACRUZ, BOCA DEL RIO</option>
                            <option value="VERACRUZ, COATZACOALCOS">VERACRUZ, COATZACOALCOS</option>
                            <option value="VERACRUZ, CORDOBA">VERACRUZ, CORDOBA</option>
                            <option value="VERACRUZ, ORIZABA">VERACRUZ, ORIZABA</option>
                            <option value="VERACRUZ, POZA RICA">VERACRUZ, POZA RICA</option>
                            <option value="VERACRUZ, TUXPAN">VERACRUZ, TUXPAN</option>
                            <option value="VERACRUZ, XALAPA">VERACRUZ, XALAPA</option>
                            <option value="YUCATAN, MERIDA">YUCATAN, MERIDA</option>
                            <option value="YUCATAN, VALLADOLID">YUCATAN, VALLADOLID</option>
                            <option value="ZACATECAS, FRESNILLO">ZACATECAS, FRESNILLO</option>
                        </select>


</div>